// Colors
$color-primary:     #242021;
$color-secondary:   #F6821F;

$gray:              #F5F5F5;
$white:             #FFFFFF;
$black:             #000000;



// Objects
$text-color:          $color-primary;
$link-color:          $color-primary;
$link-hover-color:    darken($color-primary, 10%);

$btn-color-primary:   $color-secondary;



// Typography
$font-primary:        'Roboto', sans-serif;
$font-secondary:      'Montserrat', sans-serif;



// Behaviour
$transition-default:     all .2s ease-out;
$transition-animated:    all .5s ease-out;



// Breakpoints
$xs-max:  767px;
$sm:      768px;
$sm-max:  1023px;
$md:      1024px;
$md-max:  1199px;
$lg:      1366px;
