.c-header {
  background-color: $white;
  position: sticky;
  top: 0;
  transition: $transition-default;
  z-index: 999;

  .is-active-header & {
    box-shadow: 0 2px 5px 0 rgba($black, .3);
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 24px 0;
    transition: $transition-default;

    @include below($md) {
      margin: 14px 0;
    }

    .is-active-header & {
      margin: 14px 0;
    }
    
    a {
      display: inline-block;
    }
    
    svg {
      transition: $transition-default;

      @include below($md) {
        width: 154px;
      }

      .is-active-header & {
        width: 154px;
        height: auto;

        @include below($md) {
          width: 114px;
        }
      }
    }
  }  
}