.o-btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: $transition-default;
  border: none;
  font-family: $font-primary;
  margin: 0;
  padding: 20px 30px;
  text-align: center;
  border-radius: 20px;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 500;

  &--primary {
    background-color: $color-secondary;
    color: $white;

    &:hover {
      background-color: $link-hover-color;
      color: $white;
    }
  }

  &--look {
    cursor: not-allowed;
    
    &:hover {
      background-color: $color-secondary;
    }
  }

  &--submit {
    background: $color-secondary;
    color: $white;
    order: 2;
    
    &:hover {
      background-color: $link-hover-color;
      color: $white;
    }

    &:disabled:hover {
      background: $color-secondary;
    }
  }

  &--center {
    display: table;
    margin: 0 auto;
  }

  &--mt {
    &-40 {
      margin-top: 40px;
    }
  }
}