.o-grid {
    display: grid;

    &__col {
        &-2 {
            grid-template-columns: repeat(1, 1fr);
            
            @include above($md) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &-3 {
            grid-template-columns: repeat(3, 1fr);

            @include below($md-max) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include below($xs-max) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    &__gap {
        &-20 {
            grid-gap: 20px;
        }

        &-40 {
            grid-gap: clamp(20px, 4vw, 40px);
        }

        &-70 {
            grid-gap: clamp(35px, 8vw, 70px);
        }

        &-80 {
            grid-gap: clamp(40px, 8vw, 80px);
        }
    }

    &__center {
        align-items: center;
    }
}