.o-input {
  display: block;
  width: 100%;
  color: $text-color;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 500;
  padding: 20px 40px;
  border: none;
  border-radius: 25px;
  line-height: 2;
  outline: none;
  box-sizing: border-box;
  background-color: $white;

  &::placeholder {
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 500;
    color: $text-color;
  }

  &--textarea {
    min-height: 153px;
    height: 153px;
  }

  &--select {
    color: $text-color;
    appearance: none;
    background-image: url('../../library/images/') !important;
    background-repeat: no-repeat !important;
    background-position: 94% !important;
  }

  &--accept {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
  }

  &--btn {
    display: flex;
    flex-direction: column;
  }
}